// Example of referring to bootstrap variables in your Sass code.
$icons-color: adjust-hue($brand-success, -20deg);

@import './bootswatch/lumen/_bootswatch.scss';

#app {
  display: block;
  position: relative;
  width: 100%;

  .col-items {
    margin: 70px 0;
    .col-item {
      font-size: 50px;
      color: $icons-color;
      text-align: center;

      .text {
        display: block;
        font-size: 30px;
        color: #FFF;
      }
    }
  }
}

.router-link-active {
    font-weight: bold;
    text-decoration: underline;
}

body {

}

nav > a{
    padding-right: 5px;
}