<div class="panel panel-default gitlabRepositoriesPage">
    <div class="panel-heading">
        <h3>Gitlab Repositories</h3>
    </div>
    <div class="panel-body">
        <gitlab-repositories (loadedStarted)="startingLoad()" (repositoriesLoaded)="afterRepositoriesLoaded($event)">
        </gitlab-repositories>
    </div>
    <div [hidden]="!loading">
        Loading repositories from Gitlab ...
    </div>
    <div class="panel-footer">
    </div>
</div>