<bs-panel title="Gitlab Setup">

    <form role="form">


        <div class="form-group">
            <label for="host">Host</label>
            <input type="text" [(ngModel)]="gitlabConfig.host" class="form-control" id="host" placeholder="Type the gitlab host address">
        </div>
        <div class="form-group">
            <label for="private-token">Host</label>
            <input type="text" [(ngModel)]="gitlabConfig.apiToken" class="form-control" id="private-token" placeholder="Type the gitlab host address">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</bs-panel>